@font-face {
    font-family: Averta-thin;
    src: url("../css/fonts/Averta-Thin.otf")
}
@font-face {
    font-family: Averta-regular;
    src: url("../css/fonts/Averta-Regular.otf")
}
@font-face {
    font-family: Averta-bold;
    src: url("../css/fonts/Averta-Bold.otf")
}
@font-face{
    font-family: Averta-semibold;
    src:url("../css/fonts/Averta-Semibold.otf")
}
@font-face{
    font-family: Averta-extrabold;
    src:url("../css/fonts/Averta-ExtraBold.otf")
}
.col-md-18.col-md-10.col-md-3{
    padding-left: none;
}
h1,h2,h3,h4,h5,p{
    font-size:16px
}
body{
    background-color:#F6F6F6;
}
.row{
    margin-left:0px!important;
}

.logo-container img{
    width:140px;
    height:36px;
}
.header{
    background-color:#734AEA;
    background-image:url(../css/Group\ 1345.png);
    background-repeat: no-repeat;
    background-size:64%;
    background-position: 88% 40%;
    overflow: hidden;
    padding:5.2% 7.4% 5.2% 7.4%;
    height:50.521vw;
}
.head-nav{
    justify-content: flex-end;
}
.head-nav button{
    font-family: Averta-bold;
    font-size:0.833vw;
    color:white;
    background-color: transparent;
    border:none;
    border-radius:10px;
}
.head-nav :nth-child(3){
    background-color:#F7B632;
    width:7.917vw;
    height:56px;
}
.head-nav p{
    margin-bottom:0px;
    padding:11px;
}
.buttons1 button p{
    margin-bottom:0px;
    color:white
}
.bgg-orange{
    background-color:#F7B632;
    border-radius: 8px;
}
.bgg-white{
    background-color:#Ffffff;
    border-radius: 8px; 
}
.nobgg{
    background-color: transparent;  
}
.header-title{
    padding-top:8.750vw;
}
.header-title h1{
    padding-bottom:31px;
    width: 33vw;
    font-size:2.604vw;
    font-family: Averta-bold;
}
.header-title button{
    background-color: #F7B632;
    border:none;
    color:white;
    font-size:1.198vw;
    padding:5px 10px 5px 10px;
    width:6.510416666666667vw;
    height:65px;
    font-family:Averta-semibold;
    border-radius:10px;
    margin-left:9px;

}
.header-title input{
    border:none;
    border-radius: 8px;
    width:23.4375vw;
    height:50px;
    padding-left:10px;
    font-size: 1.125em;
    opacity: 0.5;
}
.header-title .input-container{
    border-radius: 10px;
    background-color: white;
    width:26.718750000000004vw;
}
.header-title .input-container img{
    margin-left:21px;
    width:4.54054054%;
    height: 32.3076923%
}
.header-title .input-container .arrow{
    opacity: 1;
    padding-left:0px;
    width:100%;
    height:100%;
    margin-right:14px;
}
.popular{
    margin-top:15px;
    width:26.041666666666668vw;
    opacity: 0.7;
}
.popular-tab{
    margin:10px;
    height:4.49438202247191vh;
    background-color: transparent;
    border-radius: 4px;
    border:1.5px solid rgba(168, 168, 168, 0.623);
}
.popular-tab:nth-child(1){
    padding-left:0px;
    margin-left: 0px;
    border: none;
}
.popular-tab:nth-child(1) p{
    padding-left:0px;
    margin-left: 0px;
    padding-right:0.57vw;
}
.popular p{
    color:white;
    font-family: Averta-semibold;
    font-size:14px;
    margin-bottom: 0px;
    padding:1vh 0.83vw;
}
.header h1{
    color:white;
}
.watch-demo{
    color:white;
    position: relative;
    top:11.666666666666666vw;
    font-family:Averta-bold;
    font-size:1.1979166666666667vw;
}
.marketing-toolbar{
    position: relative;
    background-color: #F7B632;
    border-radius:10px;
    bottom:4.085801838610827vh;
    width:100%;
    padding:0px 2.083333333333333vw 2.604166666666667vw 2.083333333333333vw;
    margin-bottom:7.604166666666666vw;
}

.marketing-toolbar img{
    margin-top:20px;
}

.marketing-inset{
    align-content: center;
    justify-content: center;
}
.marketing-inset p{
    color:#322127;
    text-align: center;
}
.marketing-inset .title{
    padding-top: 10px;
    font-family: Averta-extrabold;
    font-size:1.375em;
    color:#322127;
    width: 12.291666666666666vw;
}
.marketing-inset .description{
    font-family: Averta-regular;
    width:16.666666666666664vw;
    font-size:1.0625em
}
.marketing-inset .img-container{
    height:98px
}
.media-tabs{
    margin:0px 142px 146px 142px;
}
.media-tabs h4{
    font-size: 32px;
    font-family: Averta-extrabold;
    opacity:0.8;
    margin-bottom:15px;
}
.media-tabs img{
    padding:10px;
}
.media-tabs .icon{
    position: relative;
    width:2.083333333333333vw;
    height:25px;
}
.media-tabs h5{
    font-family: Averta-extrabold;
    font-size: 1.375em;
}
.media-tabs .tab{
    width: 24.2%;
    height:19vh;
    margin:6px;
}
.tabs :nth-child(1){
    margin-left:0px;
}
.tabs :nth-child(5){
    margin-left:0px;
}
.tabs :nth-child(4){
    margin-right:0px;
}
.tabs :nth-child(8){
    margin-right:0px;
}
.color-black{
    color:black;
}
.howitwoorks{
    margin:90px 7.395833333333333vw 4.698672114402451vh 7.395833333333333vw;
    height:737px;
    background-color: white;
    background-image: url(../css/howitwoorks-background.png);
    background-repeat: no-repeat;
    background-position-x: 515px;
    background-position-y: 60px;
    background-size:106vh;
    border-radius: 10px;
}
.howitwoorks .text-container{
    margin-left: 5.1vw;
}
.howitwoorks h1{
    font-family: Averta-bold;
    color:#555555;
    font-size: 41px;
}
.howitwoorks .description{
    font-family: Averta-regular;
    font-size: 22px;
    padding-top:1.0214504596527068vh;
    width:18.125vw;
    opacity:0.7;
}
.howitwoorks button{
    font-family: Averta-semibold;
    color:white;
    border: none;
    margin-top:1.0214504596527068vh;
    font-size: 23px;
    width: 9.21875vw;
    padding:1.53vh 0.52vw;
}
.howitwoorks img{
    position: relative;
    left:45.83vw;
    bottom:18.38610827374872vh;
    width:6.041666666666667vw;
    height:6.741573033707865vh;
}
.Featured{
    margin:0px 7.395833333333333vw 0px 7.395833333333333vw;
}
.Featured .title h4{
    font-family:Averta-bold;
    font-size:1.6vw;
    opacity:0.8;
}
.pro-icon{
    position:relative;
    bottom:1.5vh;
    right:0.52vw;
    background-color: blueviolet;
    width: 4.322916666666667vw;
    border: 1px solid white;
    border-radius: 85px;
}
.pro-icon p{
    font-size: 0.6770833333333334vw;
    color:white;
    font-family: Averta-semibold;
    margin:0px;
    padding:0.40858018386108275vh 0.6770833333333334vw;
}
.Featured{
    margin-bottom:7.604166666666666vw;
}
.featured-user{
  padding:15px;
}
.featured-username{
    padding-left:0.2083vw;
    margin-bottom:0px;
    color:black;
    font-family:Averta-semibold;
    font-size:18px;
}
.rate-number{
    padding-left:4px;
    font-family: Averta-bold;
}
.featured-block{
    width:20.677083333333332vw;
    height: 46.782431052093976vh;
    margin:5px;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.featured-block .img-container{
    height: 25.4341164453524vh;
}
.featured-description{
    border-bottom: solid 1px #E3E3E3;
    margin:0px 1.0214504596527068vh 0px 1.0214504596527068vh;
}
.featured-description p{
    font-family: Averta-thin;
    font-size: 18px;
    color:black;
    opacity:0.6;
}
.featured-block .bottom{
    padding:0px 0.78125vw 0.5107252298263534vh 0.78125vw;
}
.featured-block .bottom h4{
    font-size: 20px;
    padding:1.634320735444331vh 0px 2.247191011235955vh 0.52083vw;
    margin-bottom:0px;
    font-family: Averta-regular;
}
b{
    font-weight: 900;
}
.hidden{
    visibility: hidden;
}
.rate-number{
    color:#FFBF00;
    font-size:18px;
}
.WoorkBlog{
    margin-top:75px;
    margin:7.6608784473953015vh 7.395833333333333vw 15.321756894790603vh 7.395833333333333vw;
}
.WoorkBlog h2{
    font-family: Averta-extrabold;
    opacity:0.8;
    font-size:1.6666666666666667vw;
}
.blog-inset div{
    margin-top:2.0429009193054135vh;
}
.StayAtHome{
    margin:2.0429009193054135vh 7.395833333333333vw 13.074565883554648vh 7.395833333333333vw;
    padding-top:15px;
    height:41.266598569969354vh;
    background-color: #734AEA;
    border-radius: 10px;
    color:white;
    font-size:2.0429009193054135vh;
    font-family:Averta-semibold;
}
.StayAtHome h1{
    font-family:Averta-bold;
    font-size:4.085801838610827vh;
}
.StayAtHome-button{
    background-color: transparent;
    color:white;
    width:5.625vw;
    height:5.720122574055158vh;
    border:1px solid white;
    border-radius:10px;
}
.StayAtHome-button p{
    margin-bottom:0px;
}
.pre-footer{
    margin:0px 7.395833333333333vw 8.98876404494382vh 7.395833333333333vw;
}
.pre-footer p{
    color:#322127;
    font-size: 1.0416666666666667vw;
    font-family: Averta-regular;
}
.pre-footer .title{
    color:#322127;
    font-family: Averta-extrabold;
    margin-bottom:6.128702757916241vh;
}
.footer{
    margin-left:7.395833333333333vw;
    margin-right:7.395833333333333vw;
    padding-top:3.0643513789581207vh;
    border-top:1px solid #707070;
}
.footer p{
    font-family: Averta-thin;
    font-size:0.8333333333333334vw;
    opacity:0.8;
}
.padding-bottom-40px{
    padding-bottom:40px;
}
.margin-left-40px{
    margin-left:40px;
}
.padding-top-10px{
    padding-top:10px;
}
.padding-bottom-20px{
    padding-bottom:20px;
}
.margin-left-130px{
    margin-left:40px;
}
.padding-right-50px{
    padding-right:140px;
}
.nopadding-bottom {
    margin-bottom: 0 !important;
 }



