@font-face {
    font-family: "Averta";
    src: url("css/fonts/Averta-black");
    font-family: "Averta-italic";
    src: url("css/fonts/Averta-italic");
}
.col-md-12.col-md-10.col-md-3{
    padding-left: none;
}
body{
    background-color:#F6F6F6;
}
.row{
    margin-left:0px!important;
}
.logo{
    padding-left:15px;
}
.header{
    background-color:#734AEA;
    background-image:url(../css/Component10–1.png);
    background-repeat: no-repeat;
    background-position-x: 460px;
    background-position-y: 200px;
    background-size: 1000px;
    padding:100px 150px 100px 150px;
    height: 800px;
}
button{
    border: none;
    padding:5px 20px;
    text-align: center;
    text-justify: auto;
}
.buttons1{
    justify-content: flex-end;
}
.buttons1 button p{
    margin-bottom:0px;
    color:white
}
.bgg-orange{
    background-color:#F7B632;
    border-radius: 8px;
}
.bgg-white{
    background-color:#Ffffff;
    border-radius: 8px; 
}
.nobgg{
    background-color: transparent;
    
}
.header-title{
    padding-top:150px;
    width: 619px;
}
.header-title button{
    background-color: #F7B632;
    border:none;
    color:white;
    font-size: 15px;
    font-weight: 700;
    border-radius:10px;
    margin-left:7px;

}
.header-title input{
    border:none;
    border-radius: 8px;
    width:350px;
    height:50px;
    font-size: 14px;
}
.header-title .input-container{
    border-radius: 8px;
    background-color: white;
}
.header-title .input-container img{
    padding-left:10px;
}
.header-title .input-container .arrow{
    padding-left:0px;
    padding-right:10px;
}
.header-title ::placeholder{
    padding-left:8px;
}
.popular{
    margin-top:15px;
}
.popular-tab{
    margin:10px;
    width:93px;
    background-color: transparent;
    border-radius: 8px;
    border:1px solid #D6CAF9;
}
.popular p{
    color:#D6CAF9;
    font-size:13px;
    text-shadow: 16%;
    margin-bottom: 0px;
    padding:5px 15px 5px 0px;
}
.popular-tab p{
    padding:5px 15px 5px 15px;
}
.header h1{
    color:white;
}
.marketing-toolbar{
    position: relative;
    bottom:40px;
    left:125px;
}

.marketing-toolbar img{
    margin-top:20px;
}
.marketing-toolbar .col-md-12{
    padding-top:20px;
}
.padding-bottom-40px{
    padding-bottom:40px;
}
.margin-left-40px{
    margin-left:40px;
}
.padding-top-10px{
    padding-top:10px;
}
.padding-bottom-20px{
    padding-bottom:20px;
}
.margin-left-130px{
    margin-left:40px;
}
.padding-right-50px{
    padding-right:140px;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }
.marketing-inset{
    display:flex;
    justify-content: center;
}
.marketing-inset p{
    color:black;
    margin:0px 40px 0 40px;
    text-align: center;
}
.marketing-inset .title{
    padding-top: 10px;
    font-weight: 800;
}
.marketing-inset .description{
    padding-top:10px;
    font-weight: 500;

}
.media-tabs{
    margin-left:110px;
    margin-top:100px
}
.media-tabs h4{
    padding-left:10px;
}
.media-tabs img{
    padding:15px
}
.media-tabs .icon{
    position: relative;
    width:40px;
    height:25px;
}
.media-tabs h5{
    display: flex;
    padding-top:8px;
    font-weight: 700;
}
.media-tabs .container{
    width: 300px;
    height:150px;
    margin:10px;
}
.media-tabs .col-md-3{
    height: 130px;
    margin:5px;
}
.color-black{
    color:black;
}
.howitwoorks{
    margin:118px;
    height:600px;
    background-image: url(../css/howitwoorks-background.png);
    background-repeat: no-repeat;
    background-position-x: 400px;
    background-position-y: 60px;
    background-size: 830px;

}
.pro-icon{
    position:relative;
    bottom:15px;
    right:10px;
    background-color: blueviolet;
    width: 83px;
    border: 1px solid white;
    border-radius: 40px;
}
.pro-icon p{
    font-size: 11px;
    font-family: Averta;
    margin:0px;
    padding:4px 13px 4px 13px;
}

.featured-user{
    position: relative;
    bottom:20px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
}
.featured-username{
    padding-left:10px;
    margin-bottom:0px;
    color:black
}
.featured-block{
    width:320px;
    margin:10px;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
                    0 2px 2px rgba(0,0,0,0.12), 
                    0 4px 4px rgba(0,0,0,0.12), 
                    0 8px 8px rgba(0,0,0,0.12),
                    0 16px 16px rgba(0,0,0,0.12);
}
.featured-description{
    border-bottom: solid 1px #E3E3E3;
    margin:13px;
    padding-left: 10px;
    padding-bottom:5px;
    font-weight:700;
}
.featured-description p{
    font-size: 14px;
    color:#D6CAF9;
    font-weight:700;
}
.hidden{
    visibility: hidden;
}
.rate-number{
    color:#FFBF00;
}
.WoorkBlog{
    margin-top:60px;
}
.WoorkBlog h2{
    margin-left: 100px;
}
.blog-inset{
    padding:20px;
}
.StayAtHome{
    margin-top:20px;
    padding-top:15px;
    width:1342px;
    height:281px;
    background-color: #734AEA;
    border-radius: 15px;
}
.pre-footer{
    margin-top:70px;
    width:1278px;
}
.pre-footer p{
    color:grey;
    font-weight: 600;
    font-size: 14px;
}
.pre-footer .flex-column .title{
    color:black;
    font-size:16px;
}
.footer{
    margin-left:70px;
    margin-right:70px;
    padding-top:30px;
    margin-top:30px;
    border-top:2px solid #E3E3E3;
}



